
*{
  padding: 0;
  margin: 0;
}
/*contiene el header y el contenido respectivo de la pagina*/
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
	height: 100%;
  margin: 0 auto;
  justify-content: space-between;


}
 #logoserv{
   height: 300px;
   width: 100%;
 }
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
/* NAV */
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  background: black;
  border-radius: 40px;
}
nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}
nav li a:hover {
  background: tomato;
  color: white;
  border-radius: 50px;
}
  nav li{
    flex-grow:1;
    text-align:center;
  }
}
nav a{
    font-family: 'Questrial', sans-serif;
}
nav img{
  border-radius: 25%;
}

.login{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
	margin-bottom: 50px;

}
.login a{
  width: 80px;
  height: 30px;
	font-size: 17px;
  text-align: center;
  color: white;
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
  margin-top: 10px;
	border-style: double;
	line-height: 30px;
	margin-right: 20px;
  background: black;
}

#logo{
  width: 70px;
  height: 70px;
}
  main  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
  margin: 25px;

}

main form{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  font-size: 20px;
  color: black;
  font-family: 'Questrial', sans-serif;
}
.columna1{
  width: 40%;
}
.columna2{
  width: 40%;
  margin-left:100px;

}

div .botonenviar{
  height: auto;
  display: flex;
  width: 100px;
  flex-direction: column;
  align-self: center;
}

button{
  background-color: grey;
  font-weight: bold;
  height: 30px;
  margin-bottom: 50px;
}

main form label{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

main form input{
  width: 400px;
  height: 30px;
  font-size: 20px;
  margin: 10px;
}

main form input placeholder {
  font-size: 30px;
}

/* ACA TERMINA EL NAV */

/*aca arrancan los estilos del footer*/
footer img {
  width: 40px;
  flex-direction: row;
  margin-left: 50%;
  justify-content: center;
  margin: 10px;
}

footer{
  display: flex;
  justify-content: center;
  background: black;
  color: tomato;

}

/* MOBILE */
@media (max-width: 600px) {
      nav {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    nav ul {
      flex-direction: column;
      margin-top: 5px;
    }
    .login{
      flex-direction: row;
      justify-content: space-around;
    }
    footer img{
      width: 30px;

    }
}
